/* span{
  font-weight: bold;
  color: red;
} */

input {
  text-align: center;
}

select{
  text-align-last: center;
}
option{
  text-align: center;
}
.card-header{
  text-align: center;
}
input[readonly]
{
    background-color:white;
}

.row{
  text-align: center;
}
@media (max-width:800px){
  .list{

    margin-left: 4.8% ;
    width: 90.25%;

  }

  }

  @media (min-width:800px){
    .list{

      margin-left: 4.5% ;
      width: 30.3%;

    }

    }


