<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="profile-image">
          <img class="img-xs rounded-circle" src="./assets/images/faces/face8.jpg" alt="profile image">
          <div class="dot-indicator bg-success"></div>
        </div>
        <div class="text-wrapper">
          <p class="profile-name">Yahya Eloukili</p>
          <p class="designation">Administrator</p>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">Main Menu</li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
      <a class="nav-link" [routerLink]="['/barchart']" class="nav-link active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Materiels</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic7">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/materiel']" class="nav-link active">Liste de materiels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addMateriel']" class="nav-link active">Ajouter materiel</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Appareils</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/appareils']" class="nav-link active">Liste d'appareils</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addAppareil']" class="nav-link active">Ajouter appareil</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Accessoires</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic2">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/accessoires']" class="nav-link active">Liste d'accessoires</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addAccessoire']" class="nav-link active">Ajouter accessoires</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">Categorie</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic3">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/categories']" class="nav-link active">Liste d'categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addCategorie']" class="nav-link active">Ajouter categories</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">stock</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic4">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/stocks']" class="nav-link active">Liste d'stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addStock']" class="nav-link active">Ajouter stocks</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">zone</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic5">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/zones']" class="nav-link active">Liste d'zones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addZone']" class="nav-link active">Ajouter zones</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic">
        <i class="menu-icon typcn typcn-coffee"></i>
        <span class="menu-title">user</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic6">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
            <a class="nav-link" [routerLink]="['/users']" class="nav-link active">Liste d'users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addUser']" class="nav-link active">Ajouter users</a>
          </li>

        </ul>
      </div>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
      <a class="nav-link" [routerLink]="['/anomalies']" class="nav-link active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">Anomalies</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
      <a class="nav-link" [routerLink]="['/mouvements']" class="nav-link active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">recupérations</span>
      </a>
    </li>
    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
      <a class="nav-link" [routerLink]="['/depots']" class="nav-link active">
        <i class="menu-icon typcn typcn-document-text"></i>
        <span class="menu-title">depots</span>
      </a>
    </li>

  </ul>
</nav>
