<body class="">
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper" style="padding: 0px;">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper" style="width: 500px;">
              <form #userForm="ngForm" (ngSubmit)="onLoginSubmit(userForm)">
                <flash-messages></flash-messages>
                <div class="form-group">
                  <label class="label">Address email</label>
                  <div>
                    <input type="text" [(ngModel)]="user.email" name="email" class="form-control" #email="ngModel"
                      placeholder="Identifiant" [ngClass]="{
                      'is-invalid': email.errors && email.touched
                    }" required
                      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">

                    <div class="invalid-feedback" [hidden]="!email.errors?.required">
                      le champs email est obligatoire
                    </div>
                    <div class="invalid-feedback" [hidden]="!email.errors?.pattern">
                      Entrer une adress email valide
                    </div>
                  </div>
                </div>
                <div class="form-group" style="margin-top: 24px;">
                  <label class="label">Mot de passe</label>
                  <div class="input-group">
                    <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel"
                      class="form-control" [ngClass]="{
                      'is-invalid': password.errors && password.touched
                    }" required placeholder="*********">
                    <div class="invalid-feedback" [hidden]="!password.errors?.required">
                      le champs password est obligatoire
                    </div>
                  </div>
                </div>


                <div class="form-group" style="margin-top: 24px;">
                  <label class="label">Nouveau de passe</label>
                  <div class="input-group">
                    <input type="password" [(ngModel)]="user.newPassword" name="newPassword" #newPassword="ngModel"
                      class="form-control" [ngClass]="{
                      'is-invalid': newPassword.errors && newPassword.touched
                    }" required minlength="6" placeholder="*********">
                    <div class="invalid-feedback" [hidden]="!newPassword.errors?.required">
                      le champs nouveau password est obligatoire
                    </div>
                    <div class="invalid-feedback" [hidden]="!newPassword.errors?.minlength">
                      le champs doit etre au minimum 6 carachteres
                    </div>
                  </div>
                </div>



                <div class="form-group" style="margin-top: 24px;">
                  <label class="label">Confirmer Nouveau de passe</label>
                  <div class="input-group">
                    <input type="password" name="newPassword2" [(ngModel)]="user.newPassword2" #newPassword2="ngModel"
                      class="form-control" [ngClass]="{
              'is-invalid': (newPassword2.errors && newPassword2.touched)
            }" required minlength="6" placeholder="*********">
                    <div class="invalid-feedback" [hidden]="!newPassword2.errors?.required">
                      le champs confirmer nouveau password est obligatoire
                    </div>
                    <div class="invalid-feedback" [hidden]="!newPassword2.errors?.minlength">
                      le champs doit etre au minimum 6 carachteres
                    </div>
                  </div>
                </div>
                <div class="form-group" style="margin-top: 24px;">
                  <button class="btn btn-primary submit-btn btn-block" type="submit">Valider</button>
                </div>
                <div class="form-group d-flex justify-content-between">

                  <a [routerLink]="['/login']" class="text-small forgot-password text-black">Se connecter</a>
                </div>

              </form>
            </div>

            <p class="footer-text text-center mt-3">Copyright © 2020 OCP-MS. Tous droits réservés.</p>
          </div>
        </div>
      </div>

    </div>

  </div>

</body>
