<div class="container-scroller" *ngIf="authService.loggedIn()">
  <!-- partial:../../partials/_navbar.html -->
  <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row" *ngIf="authService.loggedIn()">
    <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <a class="navbar-brand brand-logo" [routerLink]="['/']">
        <img src="../assets/images/Capture.png" style="width: 55px;height: 55px; " alt="logo" /> </a>

      <a class="navbar-brand brand-logo-mini" [routerLink]="['/']">
        <img src="../assets/images/logo-mini.svg" alt="logo" /> </a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center">
      <ul class="navbar-nav">

      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">

          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
            aria-labelledby="messageDropdown">

            <a class="dropdown-item py-3">
              <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
              <span class="badge badge-pill badge-primary float-right">View all</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../assets/images/faces/face10.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../assets/images/faces/face12.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">David Grey </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
            <a class="dropdown-item preview-item">
              <div class="preview-thumbnail">
                <img src="../assets/images/faces/face1.jpg" alt="image" class="img-sm profile-pic"> </div>
              <div class="preview-item-content flex-grow py-2">
                <p class="preview-subject ellipsis font-weight-medium text-dark">Travis Jenkins </p>
                <p class="font-weight-light small-text"> The meeting is cancelled </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-toggle="dropdown">

          </a>
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0"
            aria-labelledby="notificationDropdown">
            <a class="dropdown-item py-3 border-bottom">
              <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
              <span class="badge badge-pill badge-primary float-right">View all</span>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-alert m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">Application Error</h6>
                <p class="font-weight-light small-text mb-0"> Just now </p>
              </div>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-settings m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">Settings</h6>
                <p class="font-weight-light small-text mb-0"> Private message </p>
              </div>
            </a>
            <a class="dropdown-item preview-item py-3">
              <div class="preview-thumbnail">
                <i class="mdi mdi-airballoon m-auto text-primary"></i>
              </div>
              <div class="preview-item-content">
                <h6 class="preview-subject font-weight-normal text-dark mb-1">New user registration</h6>
                <p class="font-weight-light small-text mb-0"> 2 days ago </p>
              </div>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">

          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">

          </div>
        </li>
      </ul>
      <ul class="navbar-nav" style="margin-right: 20px;">
        <li class="nav-item logout" *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
          <a href="#" class="nav-link" (click)="onLogoutClick()">
            <i class="fa fa-sign-out"></i> Se deconnecter
          </a>
        </li>
      </ul>
      <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
        data-toggle="offcanvas">
        <span class="mdi mdi-menu"></span>
      </button>
    </div>
  </nav>
  <!-- partial -->

  <div class="container-fluid page-body-wrapper" style="padding-left: 0px;padding-right: 0px">
    <!-- partial:../../partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="profile-image">


            </div>
            <div class="text-wrapper">
              <p class="profile-name">{{user}}</p>
              <p class="designation ">Administrateur</p>
            </div>
          </div>
        </li>
        <li class="nav-item nav-category">Menu principal</li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
          <a class="nav-link" [routerLink]="['/']" class="nav-link active">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Dashboard</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Appareils</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/appareils']" class="nav-link active">Liste d'appareils</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addAppareil']" class="nav-link active">Ajouter appareil</a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Accessoires</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic2">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/accessoires']" class="nav-link active">Liste d'accessoires</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addAccessoire']" class="nav-link active">Ajouter accessoire</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic7" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Materiels</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic7">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/materiel']" class="nav-link active">Liste de materiels</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addMateriel']" class="nav-link active">Ajouter materiel</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic3" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Categories</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic3">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/categories']" class="nav-link active">Liste de categories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addCategorie']" class="nav-link active">Ajouter categorie</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic4" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Stocks</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic4">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/stocks']" class="nav-link active">Liste de stocks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addStock']" class="nav-link active">Ajouter stock</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic5" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Zones</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic5">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/zones']" class="nav-link active">Liste de zones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addZone']" class="nav-link active">Ajouter zone</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" href="#ui-basic6" aria-expanded="false" aria-controls="ui-basic">
            <i class="menu-icon typcn typcn-coffee"></i>
            <span class="menu-title">Utilisateurs</span>
            <i class="menu-arrow"></i>
          </a>
          <div class="collapse" id="ui-basic6">
            <ul class="nav flex-column sub-menu">
              <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
                *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
                <a class="nav-link" [routerLink]="['/users']" class="nav-link active">Liste d'utilisateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/addUser']" class="nav-link active">Ajouter utilisateur</a>
              </li>

            </ul>
          </div>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
          <a class="nav-link" [routerLink]="['/anomalies']" class="nav-link active">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Anomalies</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
          <a class="nav-link" [routerLink]="['/mouvements']" class="nav-link active">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Recupérations</span>
          </a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }"
          *ngIf="authService.loggedIn() && authService.user.role === 'admin'">
          <a class="nav-link" [routerLink]="['/depots']" class="nav-link active">
            <i class="menu-icon typcn typcn-document-text"></i>
            <span class="menu-title">Depots</span>
          </a>
        </li>

      </ul>
    </nav>


    <div class="main-panel">
      <div class="content-wrapper">


        <router-outlet>

        </router-outlet>




      </div>

      <footer class="footer">
        <div class="container-fluid clearfix">
          <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 .Ocp MS </span>
          <span class="text-muted  float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Tous droits réservés.
          </span>
        </div>
      </footer>
      <!-- page-body-wrapper ends -->
    </div>

  </div>
</div>
<div *ngIf="!authService.loggedIn()">
  <router-outlet></router-outlet>
</div>
