<div class="container">
  <div
    class="row"
    style="display: center; align-items: center; justify-content: center;"
  >
    <div class="card col-md-6">
      <h2 class=" card-header page-header">
        Login
      </h2>
      <div class="card card-body">
        <form #userForm="ngForm" (ngSubmit)="onLoginSubmit(userForm)">
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              [(ngModel)]="user.email"
              name="email"
              class="form-control"
              #email="ngModel"
              [ngClass]="{
                'is-invalid': email.errors && email.touched
              }"
              required
              pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
            />
            <div class="invalid-feedback" [hidden]="!email.errors?.required">
              le champs email est obligatoire
            </div>
            <div class="invalid-feedback" [hidden]="!email.errors?.pattern">
              Entrer une adress email valide
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">Password</label>
            <input
              type="password"
              [(ngModel)]="user.password"
              name="password"
              #password="ngModel"
              class="form-control"
              [ngClass]="{
                'is-invalid': password.errors && password.touched
              }"
              required
            />
            <div class="invalid-feedback" [hidden]="!password.errors?.required">
              le champs password est obligatoire
            </div>
          </div>
          <div
            class="row"
            style="display: center; align-items: center; justify-content: center;"
          >
            <div class="col-md-6">
              <input
                type="submit"
                class="btn btn-primary btn-block"
                value="Valider"
              />
            </div>
            <!-- <div class="col-md-6">
              <input
                type="button"
                class="btn btn-secondary btn-block"
                value="Modifier password"
                (click)="onResetClicked()"
              />
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footer id="main-footer" class=" bg-dark text-white mt-5 p-5 footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="lead text-center">
          Copyright &copy;
          <span id="year"></span>
          OCP MS
        </p>
      </div>
    </div>
  </div>
</footer>
