<div class="">
  <div class="col-md-4">
    <a [routerLink]="['/materiel']" class="btn btn-secondary btn-block">
      <i class="fas fa-arrow-left"></i> Liste des materiels
    </a>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="card ">
        <div class="card-header " style="text-align:center;">
          <h4>Modifier materiel</h4>
        </div>
        <div class="card-body">
          <flash-messages></flash-messages>
          <form #equipementForm="ngForm" (ngSubmit)="onEditMateriel(equipementForm)" enctype="multipart/form-data">
            <div class="row" style="text-align:center;">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="nom">Nom <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" name="nom" [ngModel]="materiel[0]?.nom" #nom="ngModel"
                    [ngClass]="{
                            'is-invalid': (nom.errors && nom.touched) || (errorNom && !valueNom  )
                          }" required (keyup)='clickNom($event)' />
                  <div class="invalid-feedback" [hidden]="!nom.errors?.required && !errorNom">
                    le champs nom est obligatoire
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="code">Code <span style="color: red;">*</span></label>
                  <input type="text" class="form-control" name="code" [ngModel]="materiel[0]?.code" #code="ngModel"
                    [ngClass]="{
                            'is-invalid': (code.errors && code.touched) || (errorCode && !valueCode  )
                          }" required (keyup)='clickCode($event)' />
                  <div class="invalid-feedback" [hidden]="!code.errors?.required && !errorCode">
                    le champs code est obligatoire
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="text-align:center;">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="etat">Etat
                    <span style="color: red;">*</span></label>
                  <select name="etat" id="etat" class="form-control" (ngModelChange)="setEtat($event)"
                    [ngModel]="materiel[0]?.etat" #etat="ngModel" [ngClass]="{
                              'is-invalid': (etat.errors && etat.touched)
                            }" required (click)='clickEtat($event)'>
                    <option value="Bon etat">Bon etat</option>
                    <option value="Mauvais etat">Mauvais etat</option>
                    <option value="Défaillant">Défaillant</option>
                    <option value="En panne">En panne</option>
                  </select>
                  <div class="invalid-feedback" [hidden]="!etat.errors?.required">
                    le champs etat est obligatoire
                  </div>
                </div>
              </div>
              <div class=" col-md-6">
                <div class="form-group">
                  <label for="">Statut
                    <span style="color: red;">*</span></label>
                  <select name="status" id="status" class="form-control" (ngModelChange)="setStatut($event)"
                    [ngModel]="materiel[0]?.status" #status="ngModel" [ngClass]="{
                              'is-invalid': (status.errors && status.touched)
                            }" required (click)='clickStatut($event)'>
                    <option value="Disponible">Disponible</option>
                    <option value="Utilisation">En utilisation</option>
                    <option value="Manquant">Manquant</option>
                    <option value="Stock">En stock</option>
                    <option value="Etalonnage">En etalonnage</option>
                  </select>
                  <div class="invalid-feedback" [hidden]="!status.errors?.required">
                    le champs statut est obligatoire
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="text-align:center;">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="marque">Marque</label>
                  <input type="text" class="form-control" name="marque" [ngModel]="materiel[0]?.marque"
                    #marque="ngModel" />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label>Reference</label>
                  <input name="reference" style="text-align:center;" type="text" class="form-control"
                    [ngModel]="materiel[0]?.reference" #reference="ngModel" />
                </div>
              </div>
            </div>


            <div class=" row" style="text-align:center;">


              <div class="col-md-6">
                <div class="input-group mt-4">
                  <label class="input-group-btn">
                    <span class="btn btn-secondary span">
                      Images <input type="file" style="display: none;" multiple multiple="multiple"
                        class="form-control-file" id="photo" #photo="" name="photo" (change)="selectphoto($event)">
                    </span>
                  </label>
                  <input type="text" class="form-control" readonly [ngClass]="{
                    'is-invalid':  (errorPhoto )
                  }">
                  <div class="invalid-feedback" [hidden]=" !errorPhoto">
                    format de photo invalide !
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-3" style="display: center; align-items: center; justify-content: center;">
              <div class="col-md-6">
                <button type="submit" class="btn btn-block btn-success" *ngIf="!adding">
                  <i class="fas fa-plus"></i> Modifier
                </button>
                <button type="submit" class="btn btn-block" style="background-color: #a5d6a7;" *ngIf="adding">
                  En cours de modification
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
