<div style="width: 45%; margin: auto;">
  <h2 style="text-align: center;" class="mb-4">Liste des Stocks</h2>
  <div class="mb-1">
    <button (click)="downloadAsPDF()" class="btn btn-sm btn-success mt-2"
      style="background-color: #163441;color: #fdb82f; border-color: #163441;">Pdf</button>&nbsp;&nbsp;
    <button (click)="exportAsXLSX()" class="btn btn-sm btn-success mt-2"
      style="background-color: #163441;color: #fdb82f; border-color: #163441;">Excel</button>&nbsp;&nbsp;
    <button (click)="onBtnExport()" class="btn btn-sm btn-success mt-2"
      style="background-color: #163441;color: #fdb82f; border-color: #163441;">Csv</button>
    <div id="pdfTable" #pdfTable>
    </div>
  </div>
  <ag-grid-angular style="height: 60vh; " class="ag-theme-alpine mt-2" #agGrid rowSelection="multiple"
    [columnDefs]="columnDefs" [pagination]="true" [animateRows]="true" [paginationPageSize]="30"
    [frameworkComponents]="frameworkComponents" (gridReady)=(onGridReady($event)) [isRowSelectable]="false"
    [suppressHorizontalScroll]="true" [suppressCellSelection]="false">
  </ag-grid-angular>

</div>

<div class="row" style="display: center; align-items: center; justify-content: center; margin-left: 100px;">
  <div class="col-sm-6">

    <button (click)=" onAddButtonClick()" class=" btn btn-sm btn-success mt-3"
      style="width: 150px;">Ajouter</button>&nbsp;&nbsp;

    <button (click)="onDeleteClicked()" class=" btn btn-sm btn-danger mt-3" style="width: 150px;">Supprimer</button>

  </div>

</div>
