<div style=" color: rgb(236, 211, 152);">


  <button data-toggle="tooltip" data-placement="left" title="Modifier" (click)="onClickEdit($event)"
    class="btn btn-sm btn-primary" style="background-color: #163441;color: #fdb82f;border-color: #163441;"><i
      class="fa fa-edit"></i></button>&nbsp;&nbsp;


  <button (click)="onDetailClicked($event)" class="btn btn-sm btn-secondary" data-toggle="tooltip" data-placement="top"
    title="Details" style="background-color: #fdb82f;color: #163441;border-color: #163441;"><i class="fas fa-info"></i>
  </button>




</div>
